<section class="signup">
  <form class="signup-form"
    name="signupForm"
    ng-submit="signupCtrl.signup(signupCtrl.user)"
    novalidate>
    <h3>sign up</h3>
    <input class="input-std"
      type="text"
      placeholder="name"
      ng-minlength="4"
      ng-model="signupCtrl.user.username" required>

    <input class="input-std"
      type="email"
      placeholder="email"
      ng-model="signupCtrl.user.email">

    <input class="input-std"
      type="password"
      name="signinField"
      placeholder="password"
      ng-minlength="8"
      uib-tooltip="Password must be at least 8 characters" tooltip-trigger="'focus'"
      ng-model="signupCtrl.user.password" required>

    <input type="submit" class="btn-std" ng-disabled="signupForm.$invalid" value="sign up">
    <!-- alternative method:  <p ng-show="signupForm.password.$error.minlength">You Are Doing It Wrong.</p> -->
    <div ng-messages="signupForm.signinField.$error">
        <p ng-message="minlength">Password must be at least 8 characters</p>
    </div>
  </form>
  <!-- <div><p>already a member?<span>sign in here</span></p></div> -->
</section>
