@import "../../scss/lib/theme/vars";

.home {
  background: $grey;
  h2{
    padding-left: 10%;
    font-weight: bold;
  }

  ul {
    width: 100%;
    padding-bottom: 15em;
  .bolden {
    font-weight: bold;
     }
   }
  .fuzzy-input {
    margin-left: 10%;
    margin-bottom: 2em;
    width: 35%;
    height: 3em;
    border-radius: 8px;
  }
}
