.create-gallery{
    margin-bottom: 2.5em;
  h2{
      margin-top: 0;
      padding-left: 10%;
      margin-bottom: -0.5em;
      padding-top: 1.5em;
  }
  form {
      width: 90%;
      margin: auto;
      input {
        width: 100%;
      }
      .btn-std {
          width: 10%;
      }
  }
}
