.navbar {
  img{
    width: 3em;
    height: 3em;
    margin: auto;
  }
  ul {
    height: 100%;
    width: 80%;
    margin: auto;
    li {
        h2 {
            margin: 0;
        }
      float: left;
      height: 100%;
      display: inline-block;
      padding: auto 0;
      &:first-child {
        padding-top: 0.5em;
      }
      &:last-child {
        padding: 1.5em;
      }
    }
  }
}
