.social-media-icons {
  ul {
    li{
      margin-top: 1em;
      margin-left: 10%;
    a {
      float: left;
      width: 128px;
      height: 128px;
      margin-right: 8px;
      
      &:first-child{
        background: url('../assets/labicons9.png') no-repeat 0 0;
      	width: 52px;
      	height: 52px;
    }

      &:nth-child(2) {
        background: url('../assets/labicons9.png') no-repeat -60px 0;
	      width: 52px;
	      height: 52px;
    }

      &:nth-child(3) {
        background: url('../assets/labicons9.png') no-repeat 0 -63px;
      	width: 52px;
      	height: 52px;
    }

    &:last-child {
      background: url('../assets/labicons9.png') no-repeat -60px -63px;
    	width: 52px;
    	height: 52px;
    }

  }
}
}
}
